---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A brief introduction about me"
	pubDate={new Date('April 29 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Sorry, I&apos;m writing this page.
		Please check back later.
	</p>
</Layout>
